/*Styling Body defaults*/
body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}

/*Styling default Bootstrap classes*/
.container-fluid, .container{
    overflow: hidden;
}
.container-fluid{
    padding-bottom: 10px;
}
.container{
    box-shadow: 3px 0 5px -2px rgba(41, 43, 44, 0.37), -3px 0 5px -2px rgba(41, 43, 44, 0.37);
}
#m-top{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.media-body {
    color: grey !important;
}
footer .nav-link, footer .nav-link:hover, footer .nav-link:active, footer .nav-link:visited{
    color: grey;
    text-decoration: none;
    padding: .5em 2em;
}


/*Styling for Buttons*/
.btn-red, .btn-red:hover, .btn-red:active, .btn-purple {
    background-color: red;
    color: white !important;
    text-decoration: none !important;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid white;
    cursor: pointer;
}
.btn-outline-red, .btn-outline-purple, .btn-outline-loc, .btn-subc, .btn-purple, .btn-outline-white, .btn-outline-white-sm,
.btn-outline-blue, .btn-outline-blue-sm{
    -webkit-appearance: none !important;
    background-color: transparent;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 0.85rem;
}
.btn-outline-red{
    border:1px solid red;
    color: red;
}
.btn-outline-red:hover{
    color: white;
    background-color: red;
}
.btn-outline-purple, .btn-outline-purple:hover, .btn-outline-purple:active, .btn-outline-loc:focus , .btn-outline-loc{
    font-size: 1rem;
    border:2px solid #a990ba;
    color: #7c7a7d !important;
    box-shadow: none !important;
}
.btn-outline-loc, .btn-outline-loc:hover, .btn-outline-loc:active, .btn-outline-loc:focus {
    font-size: 13px;
    padding: 5px 10px;
    box-shadow: none;
}
.btn-subc, .btn-purple, .btn-outline-white, .btn-outline-white-sm{
    color: white !important;
}
.btn-subc{
    margin-top: 15px;
    background-color: #a9bcdc;
    border: 1px solid #a9bcdc;
}
.btn-purple{
    margin: 0;
    background-color: #a890ba;
    border: 1px solid #a890ba;
    box-shadow: 2px 2px 3px grey;
}
.btn-purple:hover{
    box-shadow: none;
}
.btn-outline-white, .btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:focus, .btn-outline-white-sm,
.btn-outline-white-sm:hover, .btn-outline-white-sm:active{
    border: 2px solid white;
    font-size: 1rem;
    box-shadow: none;
}
.btn-outline-blue, .btn-outline-blue-sm{
    border: 2px solid #2068a6;
    color: #2068a6;
    font-size: 1.25rem;
}
.btn-outline-blue-sm{
    font-size: 1rem;
}
.btn-outline-white-sm, .btn-outline-white-sm:hover, .btn-outline-white-sm:active{
    font-size: 0.85rem;
    box-shadow: none;
    padding: 5px 10px;
    margin-top: 10px;
}

/*Styling for Body Section of Home page*/
.landing {
    position: relative;
    height: 100vh;
}
#scroll-btn{
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 30px;
    height: 45px;
    margin-left: -15px;
    background: #a890ba;
    border: 2px solid #a890ba;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
#scroll-btn div {
    padding-top: 70px;
}
#scroll-btn div::before {
    position: absolute;
    top: 20%;
    left: 53%;
    content: '';
    width: 5px;
    height: 5px;
    margin-left: -3px;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
}
#scroll-btn div span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -8px;
    border-left: 2px solid #a890ba;
    border-bottom: 2px solid #a890ba;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
.customer-intro {
    position: absolute;
    top: -60px;
    width: 33%;
    height: 60px;
    margin-left: 8.333333%;
    background-color: #bfd3ec;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 15px 10px;
    text-align: center;
}
.customer-txt, .customer-pic{
    background-color: #f7f7f9;
    color: #171616;
    height:280px;
    padding: 30px;
    font-size: 1rem;
    font-weight: 300;
}
.customer-txt h3{
    margin-bottom: 15px;
}
.customer-pic{
    position: relative;
}
#customer-slide .carousel-item  img{
    object-fit: contain;
    width: 100%;
}
#customer-slide .carousel-inner {
    width: 85% ;
    left: 15%;
}
#customer-slide .carousel-control-next{
    right: -17%;
}
#customer-slide{
    position: absolute;
    top: -35%;
    right: 15%;
}
#emp-txt, #retr-txt{
    display: none;
}
.vids-bg{
    background: url(../images/360.jpg) no-repeat center;
    background-size: cover;
}
.vids-txt{
    margin: 15% 0 0 15%;
}
.vids-bg i{
    color: rgba(128, 128, 128, 0.5);
}
.vids-bg .owl-carousel .owl-video-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px 2px rgba(0,0,0,0.6)
}
.vids-bg .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    background: #bab9b9;
}
.vids-bg .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #2069a6;
}
.invest-bg{
    background: url("../images/piggy.jpg") no-repeat center;
    background-size: cover;
    height:400px;
    color: white;
}
.blockquote-footer, .invest-txt blockquote{
    color: white;
}
.invest-txt{
    width: 50%;
    float: right;
    font-size: 1.5rem;
    font-weight: 400;
}
.invest-txt blockquote{
    font-size: 1.75rem;
    font-weight: 100;
    border: none;
    margin-top: 8%;
}
.benefit-txt{
    background-color: #bfd3ec;
    color: #7c7a7d;
    font-weight: 300;
    font-size: 1.25rem;
    padding-bottom: 25px;
}
.benefit-txt h3, .benefit-txt h5{
    margin-top: 15%;
}
.benefit-txt p{
    padding: 15px;
}
.benefit-bg{
    padding: 0;
}
.benefit-bg img{
    object-fit: contain;
    width: 100%;
}
.culture{
    position: relative;
    padding: 0;
    height: 380px;
    background-color: #a890ba;
    box-shadow: 9px 0 17px -7px rgba(70, 74, 76, 0.32), -6px 0 23px -4px rgba(41, 43, 44, 0.37);
}
.culture-pic{
    position: absolute;
    width: 45%;
    top: -30%;
    box-shadow: 9px 0 17px -7px rgba(70, 74, 76, 0.32), -6px 0 23px -4px rgba(41, 43, 44, 0.37);
}
.culture img{
    object-fit: contain;
    width: 100%;
}
.culture-txt{
    margin-top: 5%;
    margin-right: 3%;
    padding: 10px;
    width: 50%;
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
}
.call-s8{
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: linear-gradient(to bottom, #2068a6 0%, #a5a8d9 100%);
    box-shadow: 0 -3px 9px -2px #464a4c, -5px -5px 8px -4px rgba(70, 74, 76, 0.15);
}
#s8-pic{
    position: absolute;
    width: 15%;
    top: -15%;
    right: 7%;
}
#s8-pic img{
    object-fit: contain;
    width: 100%;
}
.s8-txt{
    margin: 10% auto 5% 7%;
    width: 67%;
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
}
.reg{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 9px 0 17px -7px rgba(70, 74, 76, 0.32), -6px 0 23px -4px rgba(41, 43, 44, 0.37);
    padding: 0;
}
.reg-pic{
    position: relative;
    width: 35%;
}
.reg-pic img{
    object-fit: contain;
    width: 100%;
    border-bottom-left-radius: 40px;
}
.reg-txt{
    position: relative;
    width: 65%;
    font-size: 1.8rem;
    font-weight: 300;
    color: black;
}
.reg-txt p{
    margin-top: 8%;
    width: 68%;
}
.reg-btn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 32%;
}

/*Styling for Body Section of Product & Services page*/
.prod-banner{
    padding: 0;
    margin-top: 143px;
}
.prod-banner img{
    object-fit: contain;
    width: 101%;
}
#rsa, #avc, #nst, #mf, #pms{
    background: url("../images/products-bg.jpg") no-repeat center;
    background-size: cover;
}
#rsa p, #avc p, #nst p, #mf p, #pms p{
    margin: 35px 20px;
}
#rsa p i, #avc p i, #nst p i, #mf p i{
    font-weight: 500;
}
.info-icon{
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
}
.info-icon img{
    height: 72px;
    width: 72px;
}
.info-icon span{
    display: inline-block;
    width: 70%;
}
#prod-list {
    padding: 0;
    font-size: 0.85rem;
    text-align:center;
    border-left: 1px solid #1f6aa4;
    border-right: 1px solid #1f6aa4;
    border-bottom: 1px solid #1f6aa4;
    border-bottom-right-radius: 20px;
}
#prod-list li {
    display: table;
    height: 16.9%;
    width: 101%;
    border-bottom: 1px solid #1f6aa4;
}
#prod-list li:last-child{
    border-bottom: none;
}
#prod-list li.show {
    background-color: #1f6aa4;
}
#prod-list li a{
     display: table-cell;
     vertical-align: middle;
     width: 100%;
    color: #9a89b3;
     padding: 0;
     font-weight: 500;
}
#prod-list li.show a{
    color: white;
}
.img-box {
    position: relative;
    width: 75%;
}
.img-box img{
    width: 75%;
}
#sms-slide{
    position: absolute;
    top: 15.55%;
    left: 17%;
}
#sms-slide .carousel-item{
    background-color: white;
    height: 357px;
    width: 218px;
}
#sms-slide .carousel-control-prev {
    left: -50px;
}
#sms-slide .carousel-control-next {
    right: -50px;
}
#sms-slide .carousel-caption{
    top: 20px;
    left: 10px;
    right: 10px;
    bottom: 0;
    color: #2466a2;
}

/* Styling for Body Section of Contact Us page */
.csr{
    background-color: #e1e1e1;
    color: #7c7a7d;
    font-size: 1.875rem;
    font-weight: 300;
    height: 100px;
    padding-top: 25px;
    margin-top: 143px;
}
.contact-bg{
    padding: 0;
}
.contact-bg img{
    object-fit: cover;
    width: 100%;
    height: 380px;
}
.contact-txt {
    position: absolute;
    width: 25%;
    top: 13%;
    right: 50%;
    color: white;
    margin-right: 15px;
    font-size: 1.375rem;
    font-weight: 100;
}
.h-office{
    height: 380px;
    background-color: #a990ba;
    color: white;
    font-size: 1.5625rem;
    font-weight: 100;
    line-height: 2;
}
.h-office h2, .h-office h4{
    margin-top: 5%;
}
.divide{
    height: 30px;
    background-color: #e1e1e1;
}
.location{
    background-color: #a9bcdc;
}
.location h1, .location h3{
    margin: 25px 0;
    font-weight: 300;
    color: white;
}
.location .nav-link {
    color: white !important;
    border: none;
}
.location a.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #e1e1e1;
    transition: width .3s;
    position: relative;
    top: 7px;
}
.location a.nav-link.active::after, .location a.nav-link:hover::after, .location a.nav-link:focus::after {
    width: 100%;
}
.location .nav-tabs {
    border-bottom: 0;
}
.location .nav-tabs .nav-item.show .nav-link, .location .nav-tabs .nav-link.active {
    background-color: transparent !important;
}
/*Note:Accordion5 is for career page*/
#accordion1, #accordion2, #accordion3, #accordion4, #acordion5{
    margin: 25px auto;
    width: 90%;
}
#accordion1 .card, #accordion2 .card, #accordion3 .card, #accordion4 .card,  #accordion5 .card{
    background: transparent;
    margin: 10px auto;
    border: 2px solid #4c4648;
    border-radius: 25px;
}
#accordion1 .card .card-header, #accordion2 .card .card-header, #accordion3 .card .card-header, #accordion4 .card .card-header, #accordion5 .card .card-header{
     background: transparent;
     border-bottom: none;
     text-align: center;
 }
#accordion1 a, #accordion2 a, #accordion3 a, #accordion4 a, #accordion5 a {
    color: #4c4648;
    text-decoration: none;
}
.loc-add, .loc-person{
    margin-bottom: 20px;
}
.loc-add span{
    position: absolute;
    top: 30px;
    left: 55px;
    font-size: 15px;
    line-height: 1.5;
}
.loc-add i{
    color: #387dc2;
    font-size: 50px !important;
}
.loc-person {
    font-size: 14px;
    line-height: 1.5;
}
.loc-person i{
    color: #387dc2;
}
.mrg-bt{
     margin-bottom: 15px
}
#west{
    background: url("../images/egun.jpg") no-repeat center;
}
#east{
    background: url("../images/igbo.jpg") no-repeat center;
}
#south{
    background: url("../images/south-bg.jpg") no-repeat center;
}
#north{
    background: url("../images/hausa.jpg") no-repeat center;
}
#west, #east, #south, #north{
    background-size: cover;
}

/*Styling for Body Section of Career Page*/
.career-bg{
    position: relative;
    height: 550px;
    background: url(../images/career-bg.jpg);
    background-size: cover;
    margin-top: 100px;
    padding: 0;
    color: white;
}
.bg-head{
    position: absolute;
    top: -55px;
    height: 55px;
    width: 300px;
    border-top-right-radius: 25px;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    padding: 10px;
}
.bg-txt{
    position: absolute;
    bottom: 0;
    background-color: rgba(168, 144, 186, .8);
    font-size: 1.125rem;
    font-weight: 300;
}
.bg-txt p{
    width: 80%;
    margin: 3% auto;
}
.bg-txt p a{
    margin-top: 15px;
}
.career-tab{
    background-color: #4b78af;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 99;
}
.career-tab .nav-link {
    color: white !important;
    border: none;
    padding: 1rem;
    font-weight: 300;
}
.career-tab a.nav-link::before {
    position: relative;
    top: -16px;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s;
    margin: auto;
}
.career-tab a.nav-link.active::before, .career-tab a.nav-link:hover::before, .career-tab a.nav-link:focus::before {
    width: 55%;
}
.career-tab .nav-tabs {
    border-bottom: 0;
}
.career-tab .nav-tabs .nav-item.show .nav-link, .career-tab .nav-tabs .nav-link.active {
    background-color: transparent !important;
}
#vac{
    text-align: center;
}
#vac #accordion5 .card {
    border: 2px solid #e2e2e0;
    font-size: 0.85rem;
}
.vac-hd{
    margin-top: 30px;
    color: #4b78af;
    font-weight: 300;
}
#vac #accordion5 h6{
    color: #a990ba;
}
#cv, #alm{
    height: 500px;
}
#cv{
    background-color: #869791;
}
#alm{
    background-color: #464a4c;
}
.hanger{
    position: relative;
    left: 15%;
    width: 70%;
    height: 50px;
    border-left: 2px solid #c0d4ec;
    border-right: 2px solid #c0d4ec;
}
.hanged{
    position: relative;
    width: 90%;
    left: 5%;
    box-shadow: 0 0 10px #333;
}
.sub-box, .pen-calc-bg{
    position: relative;
    color: white;
    padding: 5%;
    background-color: #c0d4ec;
}
.sub-box form{
    position: relative;
    left: 10%;
    width: 80%;
    margin-bottom: 10px;
}
.sub-box input{
    border: 2px solid #e2e2e0;
    border-radius: 25px;
}
.pen-calc-bg{
    height: 300px;
    background: url(../images/pen-calc.jpg);
    background-size: cover;
}
.pen-calc{
    position: absolute;
    width: 90%;
    bottom: 10%;
}
.career-cult-hd{
    background-color: #52514f;
    margin-top: 50px;
}
.career-cult-hd h3, .career-cult-hd h4{
    color: white;
    margin: 30px auto;
    font-weight: 300;
}
.career-cult-box h3{
    font-weight: 300;
}
.cult-box1, .cult-box2, .cult-box3, .cult-box4, .cult-box5, .cult-box6{
    display: table;
    height: 240px;
}
.career-cult-box p, .career-cult-box h3{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.cult-box1{
    background-color: #a890ba;
}
.cult-box2{
    background: url(../images/hangout.jpg) no-repeat center center;
    background-size: cover;
}
.cult-box3{
    background: url(../images/class.jpg) no-repeat center center;
    background-size: cover;
}
.cult-box4{
    background: url(../images/sheet.jpg) no-repeat center center;
    background-size: cover;
}
.cult-box5{
    background: url(../images/crayon.jpg) no-repeat center center;
    background-size: cover;
}
.cult-box6{
    background-color: #c0d4ec;
}

/*Styling for Footer Section*/
.hr-red{
    border-top: 1px solid red;
}
@keyframes ticker {
    0%   {margin-top: 0}
    50%  {margin-top: -130px}
    75%  {margin-top: -320px}
    100% {margin-top: 0}
}
.newsHeader {
    color: #838080;
    margin-top: -8px;
    text-align: center;
}
.newsHeader h1{
    font-weight: 300 !important;
}
.newsFeed {
    font-weight: 300;
    width: 100%;
    height:100px;
    overflow: hidden;
    -webkit-user-select: none;
}
.newsFeed ul {
    margin-left: 1%;
    animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    padding:0;
    -webkit-user-select: none;
}
.newsFeed ul li { margin-bottom:40px; }
.newsFeed ul li a {
    color: #fff;
    text-decoration: none;
    font: 14px Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none
}
.newsFeed ul:hover { animation-play-state: paused }
footer form{
    margin: 10px 0;
}
footer .nav .nav-link{
    font-size: 0.85rem;
    padding: .25em 2em;
}
footer h6{
    font-weight: 500;
    color: #838080;
    margin-top: 25px;
}
footer .table td, .table th {
    padding: 4px;
    font-size: 0.85rem;
}
.signature{
    font-size: 0.75rem;
    color: #525775;
    font-weight: 500;
}
.app img{
    object-fit: contain;
    width: 155px;
}
#back-top, #share, #print{
    position: fixed;
    display: none;
    right: 30px;
    background-color: #a890ba;
    color: white;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 999;
}
#back-top:hover, #share:hover, #print:hover{
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
}
#back-top{
    bottom: 20px;
}
#print{
    bottom: 70px;
}
#share{
    bottom: 120px;
}

/*Styling for Font Awesome Icons*/
.fa-chevron-left:before, .fa-chevron-right:before{
    color: black;
}
.solutions .fa-chevron-right:before {
    color: #1f69a5;
    font-weight: 100;
    font-size: smaller;
}

/*Styling from Integration*/
#slider, #slider .carousel-item {
    height: 75vh;
    padding: 0;
    overflow: hidden;
}
#slider img{
    object-fit: cover;
    width: 100%;
}
#slider-icon{
    padding: 0;
    height: 15vh;
    margin-top: 5vh;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 1300px) {
    .culture-pic {
        top: -20%;
    }
}

@media (max-width: 1200px) {
    #customer-slide {
        top: -30%;
    }
    .invest-bg{
        height: 350px;
    }
    .invest-txt blockquote {
        font-size: 1.65rem;
    }
    .invest-txt {
        font-size: 1.25rem;
    }
    .culture-pic {
        top: -15%;
    }
}

/*Styling for Ipad Pro*/
@media (max-width: 1100px) and (min-height: 1365px) {
    .landing {
        height: 65vh;
    }
    #slider, #slider .carousel-item {
        height: 50vh;
        padding: 0;
        overflow: hidden;
    }
    #slider-icon{
        margin-top: 0;
    }
}

@media (max-width: 1100px) {
    .customer-intro {
        font-size: 1.25rem;
    }
    .customer-txt, .customer-pic {
        height: 250px;
        font-size: 0.875rem;
    }
    #customer-slide {
        top: -35%;
    }
    .culture-pic {
        top: -10%;
    }
    .benefit-txt, .culture-txt {
        font-size: 1rem;
    }
    .culture{
        height: 330px;
    }
    .s8-txt{
        font-size: 1rem;
    }
    #s8-pic {
        top: -10%;
    }
    .reg-txt {
        font-size: 1.5rem;
    }
}

/*Styling for Tablets*/
@media (max-width: 991px) {

    /*Global Styling*/
    #m-top{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /*Styling Body of Home page*/
    .landing {
        height: unset;
        margin-bottom: 35px;
    }
    #slider{
        margin-top: 83px;
    }
    #slider, #slider .carousel-item {
        height: 40vh;
        padding: 0;
        overflow: hidden;
    }
    .customer-intro {
        width: 41.6667%;
        margin-left: 1%;
        font-weight: 500;
        font-size: 1.25rem;
        padding: 20px 10px;
    }
    .customer-txt, .customer-pic {
        height: 250px;
        font-size: 0.85rem;
    }
    #customer-slide {
        top: -45%;
    }
    .vids-txt {
        margin: 15% 10px 0 10px;
    }
    .invest-bg{
        height: 310px;
    }
    .invest-txt {
        width: 50%;
        font-size: 1.125rem;
        font-weight: 400;
    }
    .invest-txt blockquote {
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .benefit-txt{
        font-size: 0.85rem;
    }
    .benefit-txt h5 {
        margin-top: 10%;
    }
    .culture {
        height: 240px;
    }
    .culture-pic {
        position: absolute;
        width: 45%;
        top: -40%;
    }
    .culture-txt {
        font-size: 0.85rem;
        font-weight: 100;
        margin-top: 2%;
    }
    .call-s8{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .s8-txt{
        margin-top: 5%;
        margin-left: 1%;
        width: 75%;
        font-size: 0.85rem;
    }
    #s8-pic{
        position: absolute;
        width: 15%;
        top: -20%;
        right: 5%;
    }
    .reg{
        border: none;
        box-shadow: none;
    }
    .reg-txt {
        font-size: 1rem;
        font-weight: 300;
    }
    .reg-btn{
        width: 28%;
    }
    .newsFeed{
        font-size: 0.75rem;
    }

    /*Styling for Products and Services*/
    .prod-banner{
        margin-top: 0;
    }
    .m-prod-list {
        margin-top: 83px;
    }
    #prod-list{
        font-size: 0.75rem;
        border-bottom-right-radius: 0;
    }
    .info-icon img{
        height: 58px;
        width: 58px;
    }
    .info-icon span {
        width: 90%;
    }

    /*Styling for Contact page*/
    .csr{
        font-size: 1.5rem;
        height: 75px;
        padding-top: 15px;
        margin-top: 83px;
    }
    .contact-bg img {
        height: 260px;
    }
    .contact-txt {
        width: 40%;
        font-size: 1.125rem;
    }
    .h-office {
        height: 260px;
        font-size: 1rem;
    }
    .contact-txt, .h-office {
        font-weight: 300;
    }

    /*Styling for Career Page*/
    .career-bg {
        margin-top: 83px;
        height: 450px;
    }
    .bg-txt{
        font-size: 1rem;
    }
    .cult-box1, .cult-box2, .cult-box3, .cult-box4, .cult-box5, .cult-box6 {
        font-size: 0.875rem;
        height: 200px;
    }

    /*Styling Button*/
    .btn-outline-white, .btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:focus, .btn-outline-red,
    .btn-outline-purple, .btn-outline-purple:hover, .btn-outline-loc, .btn-subc, .btn-purple, .btn-outline-blue, .btn-outline-blue-sm {
        font-size: 0.85rem;
    }

    /*Styling for footer*/
    @keyframes ticker {
        0% {
            margin-top: 0
        }
        50% {
            margin-top: -100px
        }
        75% {
            margin-top: -215px
        }
        100% {
            margin-top: 0
        }
    }
    footer .table{
        width: 80%;
    }
}

/*Styling for Landscape Phones*/
@media (max-width: 767px){

    /*Styling for HomePage*/
    .customer-intro{
        width: 50%;
        margin-left: 25%;
    }
    .customer-txt{
        height: 530px;
        font-size: 0.85rem;
    }
    .card img{
        object-fit: contain;
        width: 35%;
        margin-left: 33%;
    }
    .carousel-inner .card{
        background-color: #f7f7f9;
        border: none;
    }
    .vids-txt {
        margin: 15% 25px 0 25px;
    }
    .invest-bg {
        background-size: cover;
    }
    .invest-txt {
        width: 55%;
    }
    .invest-txt blockquote {
        font-size: 1.375rem;
    }
    .benefit-txt h5 {
        margin-top: 5%;
    }
    .benefit-txt p {
        padding: 10px;
        text-align: center !important;
    }
    .culture{
        height: inherit;
        padding: 50px;
    }
    .culture-txt{
        font-size: 1rem;
        width: 100%;
        margin-right: 0;
        padding: 0;
    }
    .reg{
        background:transparent url("../images/coins.jpg") no-repeat center;
        background-size: cover;
        border: none;
        box-shadow: none;
    }
    .reg-txt{
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
    }
    .reg-txt p {
        margin-top: 10%;
        width: 100%;
    }
    .s8-txt{
        margin: 0;
        padding: 50px 25px;
        height: auto;
        width: 100%;
    }

    /*Styling for Products and Services*/
    .m-prod-list {
        background-color: #e1e1e1;
    }
    .m-prod-list form{
        width: 60%;
    }
    .m-prod-list label{
        margin-top: 15px;
       font-size: 20px;
        font-weight: 400;
    }

    /*Styling for Contact Page*/
    .csr {
        font-size: 1rem;
        height: 60px;
        padding-top: 15px;
    }
    .contact-txt {
        width: 50%;
        right: 0;
        top: 5%;
        font-size: 1.375rem;
    }
    .h-office, .contact-txt {
        font-weight: 300;
    }

    /*Styling for Career page*/
    .hanger {
        width: 40%;
        left: 30%;
    }
    .hanged {
        width: 60%;
        left: 20%;
    }
    .pen-calc-bg {
        height: 250px;
    }

    /*Styling for Button*/
    .btn-outline-blue {
        margin-bottom: 5%;
    }
}

/*Styling for Portrait Phones*/
@media (max-width: 575px) {

    /*Styling for Home page*/
    .customer-intro {
        top: -59px;
        width: 95%;
        right: 2.5%;
        font-weight: 500;
        font-size: 1.25rem;
        box-shadow: -1px -1px 6px rgba(70, 74, 76, 0.332);
    }
    .customer-txt{
        height: initial;
    }
    .card img{
        object-fit: contain;
        width: 70%;
        margin-left: 15%;
    }
    .carousel-control-next, .carousel-control-prev{
        bottom: 50%;
    }
    .carousel-item .card-block {
        padding: 1.25rem 0;
    }
    .invest-bg{
        background: url("../images/m-piggy.jpg") no-repeat center;
    }
    .invest-txt{
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }
    .invest-txt blockquote {
        font-size: 1.25rem;
    }
    .benefit-txt {
        font-size: 1rem;
        padding: 50px 25px;
    }
    .benefit-txt h5 {
        margin-top: 0;
    }
    .benefit-txt p {
        padding: 0;
    }
    .culture{
        padding: 50px 25px;
    }
    .reg {
        background-size: 100% 100%;
    }

    /*Styling for Contact Page*/
    .csr{
        height: 80px;
        padding-top: 10px;
    }
    .contact-bg img {
        height: 250px;
    }
    .contact-txt {
        width: 70%;
        margin-right: 5%;
        font-size: 1rem;
    }
    .h-office {
        height: 250px;
        font-size: 1rem;
    }
    .divide {
        height: 15px;
    }
    #accordion1, #accordion2, #accordion3, #accordion4, #accordion5 {
        width: 100%;
    }

    /*Styling for Career*/
    .career-bg {
        height: 400px;
        background: url(../images/career-bg-mob.jpg) no-repeat;
        background-size: cover;
    }
    .bg-head {
        top: -50px;
        height: 50px;
        width: 60%;
        left: 20%;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }
    .bg-txt {
        font-size: 0.875rem;
    }
    .bg-txt p {
        width: 90%;
        margin: 5%;
        text-align: center;
    }
    .hanger {
        width: 70%;
        left: 15%;
    }
    .hanged {
        width: 90%;
        left: 5%;
    }
    .sub-box, .pen-calc-bg {
        font-size: 0.85rem;
    }
    .cult-box1, .cult-box2, .cult-box3, .cult-box4, .cult-box5, .cult-box6 {
        height: 180px;
    }
    .career-cult-box p{
        width: 80%;
    }

    /*Styling for Products and Styling*/
    .m-prod-list form{
        margin-left: 0;
        width: 80%;
    }

    /*Styling for footer*/
    .newsFeed {
        margin: 15px 0;
        height: 150px;
    }
    footer .table{
        width: 75%;
    }
    footer .nav .nav-link {
        font-size: 0.75rem;
        padding: .25em .5em;
        text-align: center;
    }

    /*Styling for buttons*/
    .btn-red, .btn-red:hover, .btn-red:active, .btn-purple, .btn-outline-red, .btn-outline-purple, .btn-outline-loc,
    .btn-subc, .btn-outline-white, .btn-outline-blue, .btn-outline-blue-sm, .btn-outline-purple:hover, .btn-outline-purple:active,
    .btn-outline-loc:focus , .btn-outline-loc, .btn-outline-purple {
        font-size: 0.85rem;
    }
    .btn-outline-blue, .btn-outline-blue-sm {
        margin-bottom: 5%;
    }
    .btn-outline-blue{
        background-color: #2068a6;
        color: white;
        font-weight: 500;
    }
}